@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ring-offset-width: 2px;
  /* Improve focus visibility */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
  scroll-behavior: smooth;
  /* Base theme colors */
}

*:focus-visible {
  outline: none;
}